
.App {
	background-color: #2d5d8e;
	font-family: 'Neucha';
}

#contact-container {
	position: relative;
	margin-top: 15% !important;
}

#removeOpacityOnHover:hover {
	opacity: 1 !important;
}

#contact:hover{
	opacity: 1 !important;
}
#searchBox {
	background-color: #142438;
	color: white;
}
#searchBox::placeholder {
	background-color: #142438;
	color: white;
	padding: 5px 0px;
	position: relative;
	top: 3px;
}

.list-group-item:hover {
	background-color: #2d5d8e !important;
}

.list-group-item:hover span:first-child {
	color: white !important;
}
